<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обо мне</title>
    <link rel="icon" href="..\static\img\web.ico">
    <link rel="stylesheet" href="..\static\style\reset.css">
    <link rel="stylesheet" href="..\static\style\reset_min.css">
    <link rel="stylesheet" href="..\static\style\main.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <p>Обо мне</p>
            <ul>
                <li><a href=".\index.html">Главная</a></li>
                <li><a href=".\my_hobby.html">Моё хобби</a></li>
                <li><a href=".\about_me.html">Обо мне</a></li>
                <li><a href=".\feedback.html">Обратная связь</a></li>
            </ul>
        </div>
    </nav>
<footer>
<p>Константин, 17 лет</p>
<p>Телефон: number</p>
<div class="contacts"><p>Контакты</p>
    <a href="https://vk.com/konstantin1kk" target="_blank"><img src="..\static\img\vk.png" ></a>
    <a href="https://t.me/konstantin1kk" target="_blank"><img src="..\static\img\telegram.png" ></a></div>
</footer>
</body>
</html>