<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Обратная связь</title>
    <link rel="icon" href="..\static\img\web.ico">
    <link rel="stylesheet" href="..\static\style\reset.css">
    <link rel="stylesheet" href="..\static\style\reset_min.css">
    <link rel="stylesheet" href="..\static\style\main.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <p>Обратная связь</p>
            <ul>
                <li><a href=".\index.html">Главная</a></li>
                <li><a href=".\my_hobby.html">Моё хобби</a></li>
                <li><a href=".\about_me.html">Обо мне</a></li>
                <li><a href=".\feedback.html">Обратная связь</a></li>
            </ul>
        </div>
    </nav>
</body>
</html>