<!doctype html>
<html>
<head>
<title>Моё хобби</title>
<link rel="icon" href="..\static\img\web.ico">
<link rel="stylesheet" href="..\static\style\reset.css">
<link rel="stylesheet" href="..\static\style\reset_min.css">
<link rel="stylesheet" href="..\static\style\main.css">
<meta http-equiv="Content-Type" content="text/html" charset="utf-8">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <p>Моё хобби</p>
            <ul>
                <li><a href=".\index.html">Главная</a></li>
                <li><a href=".\my_hobby.html">Моё хобби</a></li>
                <li><a href=".\about_me.html">Обо мне</a></li>
                <li><a href=".\feedback.html">Обратная связь</a></li>
            </ul>
        </div>
    </nav>
    <nav class="content">
        <div class="hobby">
            <h1>Фотографирование</h1>
            <hr>
            <img id='image_camera' src="../static/img/camera.png" alt="camera">
            <p style="width: 75%">Мое хобби - фотография и природа. Я обожаю фотографировать природу и пейзажи. Провожу много времени на уединенных местах, исследуя различные уголки природы и постигая их красоту через объектив моей камеры. Активно публикую свои фотографии в социальных сетях, вдохновляя других людей на любовь к природе и живописным местам. Мечтаю организовать собственную фотовыставку и выпустить фотоальбом, чтобы поделиться своим восприятием красоты мира с другими людьми.</p>
        </div>
    </nav>
</body>
</html>